.countdown {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-left: 1rem;
  span {
    background: $blue-color;
    color: $white-color;
    padding: 5px;
    border-radius: 5px;
    font-size: 27px;
  }
  b {
    font-size: 20px;
  }
}
