.input {
  display: grid;
  grid-template-columns: 15% 85%;
  position: relative;
  align-items: center;
  padding: 0 10px;
  margin-bottom: 1rem;
  // max-width: 380px;
  width: 100%;
  height: 40px;
  background-color: #f0f0f0;
  // margin: 24px 8px;
  border-radius: 55px;
  svg {
    width: 25px;
    height: 25px;
    stroke: #6666669a;
    fill: #6666669a;
  }
  input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-size: 1.1rem;
    color: #333;
    &:placeholder {
      color: #c2c2c2;
    }
  }
}

.error {
  background: $light-error-color;
  margin-top: 3rem !important;
  input {
    color: $white-color;
    &:placeholder {
      color: #fff !important;
    }
  }
  svg {
    fill: #fff !important;
    stroke: #fff !important;
  }
}

//input need position relative
.error__popup {
  display: grid;
  position: absolute;
  top: -35px;
  background: $error-color;
  height: 25px;
  width: 70%;
  border-radius: 5px;
  place-items: center;
  color: $white-color;
  font-weight: 700;
  font-size: 14px;
  padding: 2px;
  span {
    position: absolute;
    bottom: -10px;
    left: 1rem;
    border-top: 10px solid $error-color;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
  }
}
